@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: small sane defaults */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
}
html {
  font-size: 18px;
}

body {
  color: #111827; /* zinc-900-ish */
}
